* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
}

main {
    width: 100%;
    height: 100%;
    color: white;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    section {     
        width: 450px;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;

        .reels {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 20px;
            scroll-snap-align: start; 

            .volume {
                position: absolute;
                top: 5%;
                right: 8%;
                background: rgba(0, 0, 0, 0.5);
                padding: 8px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                
                i {
                    font-size: 25px;
                }
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            .profile {
                position: absolute;
                padding: 20px;
                bottom: 5%;

                .info {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    .info-main {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        h3{
                            font-weight: 400;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        }

                        img{
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            border: 1px solid white;
                        }
                    }

                    button {
                        padding: 2px 4px;
                        font-size: 12px;
                        border: 1px solid white;
                        border-radius: 5px;
                        background-color: transparent;
                        color: white;
                    }
                }

                p {
                    margin-top: 10px;
                    font-size: 16px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }

            .actions {
                position: absolute;
                right: 7%;
                bottom: 20%;
                display: flex;
                flex-direction: column;
                gap: 16px;

                i {
                    font-size: 28px;
                }

                #red{
                    color: red;
                }

                h1 {
                    font-size: 15px;
                    font-weight: 400;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }

                .heart, .comment, .share {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }
            }
        }
    }
}
